// @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:800|Libre+Baskerville:400,400i,700,700i&display=swap");

// $headings-font-family: "Roboto Slab", serif;
// $headings-font-weight: 800;

// $font-family-base: "Libre Baskerville", serif;



// @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100;200;300;600;900&display=swap');


// $headings-font-family: "Handjet", serif;
// $headings-font-weight: 100;

// $font-family-base: "Handjet", serif;
// $font-weight: 100;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Handjet:wght@100..900&display=swap');

$headings-font-family: "Chakra Petch", serif;
$headings-font-weight: 500;

$font-family-base: "Chakra Petch", serif;
$font-weight: 3
500;

