@import "./config";
@import "~bootstrap";

.GameBasic {
    background-color: #202225;
    min-height: 100vh;
    display: flex;
    color: rgb(2, 155, 25);
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // font-size: calc(300px + 5vmin);
  }

  .cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }

  #command {
    width: 0;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  
  
  
  